.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #e8e8e8;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #e8e8e8;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #e8e8e8;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #e8e8e8;
}

:placeholder {
  color: #ffffff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
